* {
  box-sizing: border-box;
}

body {
  background-color: var(--bgcColor);
  line-height: 1.5;
  font-family: var(--fontSystem);
}

.txt-color {
  color: var(--txtColor);
}

.title-size {
  font-size: 160px;
}

.bold {
  font-weight: 800;
}

.display-ib {
  display: inline-block;
}

.vertical-am {
  vertical-align: middle;
}

.margin-t0 {
  margin-top: 0;
}

.margin-b0 {
  margin-bottom: 0;
}

.margin-r1 {
  margin-right: 1rem;
}

.margin-y0 {
  margin-top: 0;
  margin-bottom: 0;
}

.texta-r {
  text-align: right;
}

.font-0 {
  font-size: 0;
}

.w-50 {
  width: 50%;
}
