.border-b1 {
  border-bottom: 1px solid;
}

.border-t1 {
  border-top: 1px solid;
}

.border1 {
  border: 1px solid;
}

.borderc-black {
  border-color: var(--black);
}

.borderc-rojo {
  border-color: var(--rojo);
}

.borderc-grey {
  border-color: var(--grey);
}

.border-l2 {
  border-left: 2px solid;
}

.border-l3 {
  border-left: 3px solid;
}

.border-b3 {
  border-bottom: 3px solid;
}

.border-t3 {
  border-top: 3px solid;
}

.border-l5 {
  border-left: 5px solid;
}

.border-b5 {
  border-bottom: 5px solid;
}

.border-t5 {
  border-top: 5px solid;
}

.border-b10 {
  border-bottom: 10px solid;
}

.border-t10 {
  border-top: 10px solid;
}

.borderc-pp {
  border-color: var(--pp);
}

.borderc-psoe {
  border-color: var(--psoe);
}

.borderc-cs {
  border-color: var(--ciudadanos);
}

.borderc-ch {
  border-color: var(--chunta);
}

.borderc-zec {
  border-color: var(--zec);
}

.borderc-b-cs {
  border-bottom-color: var(--ciudadanos);
}
