.btn-share {
  padding: .5rem 1rem;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  display: inline-block;
  margin-top: .5rem;
}

.btn-share-facebook {
  background-color: var(--facebookColor);
}

.btn-share-twitter {
  background-color: var(--twitterColor);
}
