.black {
    color: var(--black);
}

.bgc-black {
    background-color: var(--black);
}

.bgc-header-home {
    background-color: var(--headerHome);
}

.bgc-tabs {
    background-color: var(--bgcTabs);
}

.bgc-celery {
    background-color: var(--celery);
}

.bgc-periwinkie {
    background-color: var(--periwinkie);
}

.woodsmoke {
    color: var(--woodsmoke);
}

.bgc-acapulco {
    background-color: var(--acapulco);
}

.gondola {
    color: var(--gondola);
}

.bgc-floralwhite {
    background-color: var(--floralwhite);
}

.bgc-floralwhite-9 {
    background-color: var(--florawhite9);
}

.bgc-white-9 {
    background-color: var(--white9);
}

.bgc-fluor {
    background-color: var(--fluor);
}

.luckyPoint {
    color: var(--luckyPoint);
}

.bgc-transparent {
    background-color: transparent;
}

.bgc-mint {
    background-color: hsl(170, 88%, 47%);
    &:hover {
        background-color: hsl(170, 56%, 47%);
        transition: background-color .3s ease-in;
    }
}

.night-rider {
    color: var(--nightRider);
}

.bgc-french-grey {
    background-color: hsl(283, 11%, 88%);
    &:hover {
        background-color: hsl(283, 5%, 68%);
        transition: background-color .3s ease-in;
    }
}

.bunting {
    color: var(--bunting);
}

.grey {
    background-color: var(--grey);
}

.resto {
    background-color: var(--resto);
}

.bgc-white {
    background-color: var(--white);
}

.cruise2 {
    background-color: var(--cruise2);
}

.white {
    color: var(--white);
}

.color-tabs {
    color: var(--hoverTabs);
}

.heath {
    color: var(--heath);
}

.red9 {
    color: var(--red9);
}

.green9 {
    color: var(--green9);
}

.azul-pp {
    color: var(--pp);
}

.rojo-psoe {
    color: var(--psoe);
}

.amarillo-chunta {
    color: var(--chunta);
}

.rojo-zec {
    color: var(--zec);
}

.naranja-ciudadanos {
    color: var(--ciudadanos);
}

.bgc-pp {
    background-color: var(--pp);
}

.bgc-psoe {
    background-color: var(--psoe);
}

.bgc-zec {
    background-color: var(--zec);
}

.bgc-cs {
    background-color: var(--ciudadanos);
}

.bgc-cha {
    background-color: var(--chunta);
}

@media only screen and (min-width: 30em) {

    .bgc-transparent--s {
        background-color: transparent;
    }
}

@media only screen and (min-width: 48em) {

    .bgc-transparent--m {
        background-color: transparent;
    }
}

@media only screen and (min-width: 64em) {

    .bgc-transparent--l {
        background-color: transparent;
    }
}
