.black {
  color: var(--black);
}

.grey {
  background-color: var(--grey);
}

.bgc-white {
  background-color: var(--white);
}

.cruise2 {
  background-color: var(--cruise2);
}

.white {
  color: var(--white);
}

.heath {
  color: var(--heath);
}

.red9 {
  color: var(--red9);
}

.green9 {
  color: var(--green9);
}

.azul-pp {
  color: var(--pp);
}

.rojo-psoe {
  color: var(--psoe);
}

.bgc-pp {
  background-color: var(--pp);
}

.bgc-psoe {
  background-color: var(--psoe);
}

.bgc-zec {
  background-color: var(--zec);
}

.bgc-cs {
  background-color: var(--ciudadanos);
}

.bgc-cha {
  background-color: var(--chunta);
}
