.bgc-pp {
    background-color: var(--pp);
}

.bgc-psoe {
    background-color: var(--psoe);
}

.bgc-zec {
    background-color: var(--zec);
}

.bgc-cs {
    background-color: var(--ciudadanos);
}

.bgc-cha {
    background-color: var(--chunta);
}

.bgc-acuerdos {
    background-color: #37ecba;
}
