.black {
  color: var(--black);
}

.bgc-celery {
  background-color: var(--celery);
}

.bgc-periwinkie {
  background-color: var(--periwinkie);
}

.woodsmoke {
  color: var(--woodsmoke);
}

.bgc-acapulco {
  background-color: var(--acapulco);
}

.gondola {
  color: var(--gondola);
}

.bgc-floralwhite {
  background-color: var(--floralwhite);
}

.bgc-floralwhite-9 {
  background-color: var(--florawhite9);
}

.bgc-white-9 {
  background-color: var(--white9);
}

.bgc-fluor {
  background-color: var(--fluor);
}

.luckyPoint {
  color: var(--luckyPoint);
}

.transparent {
  background-color: transparent;
}

.bgc-mint {
  background-color: var(--mint);
}

.night-rider {
  color: var(--nightRider);
}

.bgc-french-grey {
  background-color: var(--frenchGrey);
}

.bunting {
  color: var(--bunting);
}

.grey {
  background-color: var(--grey);
}

.resto {
  background-color: var(--resto);
}

.bgc-white {
  background-color: var(--white);
}

.cruise2 {
  background-color: var(--cruise2);
}

.white {
  color: var(--white);
}

.heath {
  color: var(--heath);
}

.red9 {
  color: var(--red9);
}

.green9 {
  color: var(--green9);
}

.azul-pp {
  color: var(--pp);
}

.rojo-psoe {
  color: var(--psoe);
}

.bgc-pp {
  background-color: var(--pp);
}

.bgc-psoe {
  background-color: var(--psoe);
}

.bgc-zec {
  background-color: var(--zec);
}

.bgc-cs {
  background-color: var(--ciudadanos);
}

.bgc-cha {
  background-color: var(--chunta);
}
