* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: var(--fontSystem);
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.txt-color {
  color: var(--heath);
}

.title-size {
  font-size: 160px;
}

/*canvas {
  max-width: 50rem;
  margin: 50px auto;
}*/

.whs-nw {
  white-space: nowrap;
}

.textd-u {
  text-decoration: underline;
}

.textd-n {
  text-decoration: none;
}

.c3-chart-arc text {
    fill: #000 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: var(--fontSystem);

}
