.data {
    width: 70rem;
    padding: 5rem 2rem;
    margin: 0 5rem;
    position: relative;
    font-size: 0;
}

.data-figura {
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 5rem;
    top: 5rem;
    border-radius: 40%;
    z-index: 2;
    background-color: var(--data);
    transform: rotate(45deg);
    animation: rotacion 10000ms linear infinite;
}

@keyframes rotacion {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
.data-header-container {
    display: inline-block;
    vertical-align: middle;
}

.data-titulo {
    font-size: 6rem;
    font-family: var(--fontBislai);
    margin: 0;
    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 3rem;
        background-color: var(--bgcHeader);
    }
}

.data-texto {
    font-size: 1rem;
    font-family: var(--fontPlex);
    max-width: 30rem;
    display: block;
    + .data-texto {
        margin-top: 0;
    }
}

.data-icon {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 9rem;
    right: 10rem;
    z-index: 2;
}

.dataset {
    background-color: var(--data);
    padding: 2rem;
    &:nth-child(2n) {
        background-color: var(--white);
    }
}

.dataset-container {
    max-width: 90%;
    margin: 0 5rem;
    font-size: 0;
}

.dataset-title {
    font-size: 4rem;
    font-family: var(--fontBislai);
    margin-bottom: 0;
}

.dataset-label {
    padding: .5rem;
    font-size: .7rem;
    display: inline-block;
    background-color: var(--bgcHeader);
    color: var(--white);
    font-weight: bold;
    &:not(:last-child) {
        margin-right: .5rem;
    }
}

.data-texto-container {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

/* stylelint-disable */

.data-texto {
    list-style-type: none;
}

/* stylelint-enable */

.data-texto-list {
    padding: 1rem 0;
    border-bottom: 1px solid var(--bgcHeader);
    &:first-child {
        border-top: 1px solid var(--bgcHeader);
    }
}

.dataset-image {
    display: inline-block;
    width: 50%;
    margin-left: 10%;
    font-size: 1rem;
    .hljs {
        border-radius: 20px;
    }
}

.data-btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
    border-radius: 5px;
    background-color: var(--bgcTabs);
    text-decoration: none;
    &:not(:last-child) {
        margin-right: 1rem;
    }
}
