.distrito {
    margin: 1rem 0;
    .domain {
        fill: none;
        stroke: none;
    }
    .yAxis {
        .domain {
            stroke: none;
        }
        line {
            stroke: #111;
            stroke-dasharray: 3px;
        }
        text {
            display: none;
        }
    }
    .xAxis {
        .domain {
            stroke-width: 2px;
        }
    }
    text {
        font-family: var(--condensed);
        font-size: 12px;
    }
    text.nombre-distrito {
        font-size: 16px;
        display: inline-block;
        font-weight: 600;
    }
    .tooltip-porcentaje {
        font-weight: 600;
    }
    &:nth-child(3n+1) {
        .yAxis {
            text {
                display: inline-block;
            }
        }
    }
}

.graficas-partido {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 64em) {

    .graficas-partido {
        width: 100%;
        max-width: 68rem;
        margin: 0 auto;
    }

}
