.distrito {
    margin: 1rem 0;
    .domain {
        fill: none;
        stroke: #000;
    }
    .yAxis {
        .domain {
            stroke: none;
        }
        line {
            stroke: #111;
            stroke-dasharray: 3px;
        }
    }
    .xAxis {
        .domain {
            stroke-width: 2px;
        }
    }
    text {
        font-family: var(--fontPlex);
        font-size: 12px;
    }
    .nombre-distrito {
        font-size: 16px;
        font-weight: 600;
    }
    .tooltip-porcentaje {
        font-weight: 600;
    }
}

.graficas-partido {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 64em) {

    .graficas-partido {
        width: 100%;
        max-width: 68rem;
        margin: 0 auto;
    }

}
