.display-ib {
  display: inline-block;
}

.display-b {
  display: block;
}

.display-n {
  display: none;
}

.display-t {
  display: table;
}

.display-tbc {
  display: table-cell;
}



@media only screen and (min-width: 30em) {

  .display-ib--s {
    display: inline-block;
  }

  .display-b--s {
    display: block;
  }

  .display-n--s {
    display: none;
  }

  .display-t--s {
    display: table;
  }

  .display-tbc--s {
    display: table-cell;
  }

}

@media only screen and (min-width: 48em) {

  .display-ib--m {
    display: inline-block;
  }

  .display-b--m {
    display: block;
  }

  .display-n--m {
    display: none;
  }

  .display-t--m {
    display: table;
  }

  .display-tbc--m {
    display: table-cell;
  }

}

@media only screen and (min-width: 64em) {


  .display-ib--l {
    display: inline-block;
  }

  .display-b--l {
    display: block;
  }

  .display-n--l {
    display: none;
  }

  .display-t--l {
    display: table;
  }

  .display-tbc--l {
    display: table-cell;
  }


}
