.axis-y {
    .tick {
        line {
            stroke-dasharray: 3px;
            stroke: #ccc;
        }
    }
}

.axis {
    text {
        font-family: var(--condensed);
        font-size: 14px;
    }
}

.bar-vertical {
    fill: #605b77;
}
