.font-0 {
  font-size: 0;
}

.font-1 {
  font-size: 1rem;
}

.font-1-5 {
  font-size: 1.5rem;
}

.font-2 {
  font-size: 2rem;
}

.font-3 {
  font-size: 3rem;
}

.font-4 {
  font-size: 4rem;
}

.font-5 {
  font-size: 5rem;
}
