.footer {
    border-top: 1px solid var(--grey);
    padding: 1rem;
    font-weight: 600;
    font-family: var(--fontPlex);
    background-color: #fafafa;
}

.grid-footer-links {
    font-size: 1rem;
    font-family: var(--fontBislai);
    font-weight: 600;
    color: var(--bgcHeader);
    padding-right: 1rem;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
}

@media only screen and (min-width: 64em) {

    .footer {
        padding: 4rem 0;
    }

}
