.header {
    font-size: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
}

.header-home {
    background-color: transparent;
    padding: .5rem 1rem;
    .nav-grid {
        grid-template-columns: 10% 1fr;
    }
}

.nav-grid-second-link {
    font-family: var(--fontBislai);
    color: var(--white);
    text-decoration: none;
}
