.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-5 {
  height: 5rem;
}

.h-10 {
  height: 10rem;
}

.h-24 {
  height: 24rem;
}

.h-200px {
  height: 200px;
}

.h-400px {
  height: 400px;
}

.mih-100 {
  min-height: 100vh;
}

.mih-custom {
  min-height: calc(100vh - 319px);
}

.h-100p {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-50vh {
  height: 50vh;
}

@media only screen and (min-width: 30em) {

  .h-2--s {
    height: 2rem;
  }

  .h-3--s {
    height: 3rem;
  }

  .h-5--s {
    height: 5rem;
  }

  .h-10--s {
    height: 10rem;
  }

  .h-24--s {
    height: 24rem;
  }

  .mih-100--s {
    min-height: 100vh;
  }

  .mih-custom--s {
    min-height: calc(100vh - 319px);
  }

  .h-100p--s {
    height: 100%;
  }

  .h-100vh--s {
    height: 100vh;
  }

  .h-50vh--s {
    height: 50vh;
  }

}

@media only screen and (min-width: 48em) {


  .h-2--m {
    height: 2rem;
  }

  .h-3--m {
    height: 3rem;
  }

  .h-5--m {
    height: 5rem;
  }

  .h-10--m {
    height: 10rem;
  }

  .h-24--m {
    height: 24rem;
  }

  .mih-100--m {
    min-height: 100vh;
  }

  .mih-custom--m {
    min-height: calc(100vh - 319px);
  }

  .h-100p--m {
    height: 100%;
  }

  .h-100vh--m {
    height: 100vh;
  }

  .h-50vh--m {
    height: 50vh;
  }

}

@media only screen and (min-width: 64em) {


  .h-2--l {
    height: 2rem;
  }

  .h-3--l {
    height: 3rem;
  }

  .h-5--l {
    height: 5rem;
  }

  .h-10--l {
    height: 10rem;
  }

  .h-24--l {
    height: 24rem;
  }

  .mih-100--l {
    min-height: 100vh;
  }

  .mih-custom--l {
    min-height: calc(100vh - 319px);
  }

  .h-100p--l {
    height: 100%;
  }

  .h-100vh--l {
    height: 100vh;
  }

  .h-50vh--l {
    height: 50vh;
  }

}

