.margin-t0 {
  margin-top: 0;
}

.margin-b0 {
  margin-bottom: 0;
}

.margin-b1 {
  margin-bottom: 1rem;
}

.margin-b2 {
  margin-bottom: 2rem;
}

.margin-r1 {
  margin-right: 1rem;
}

.margin-yx {
  margin: 0 auto;
}

.margin-y0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-y1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-y2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-y5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.margin-t1 {
  margin-top: 1rem;
}

.margin-t-2 {
  margin-top: -2rem;
}
