.margin-t0 {
  margin-top: 0;
}

.margin-b0 {
  margin-bottom: 0;
}

.margin-r1 {
  margin-right: 1rem;
}

.margin-y0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-y1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
