.partidos-cabecera {
    min-height: 50vh;
    padding: 3rem;
    width: 100%;
    font-size: 0;
}

.partidos-cabecera-izda {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.partidos-cabecera-title {
    font-size: 5rem;
    font-family: var(--fontBislai);
    color: var(--black);
    margin: 0;
}

.partidos-cabecera-texto,
.partidos-cabecera-texto-derecha {
    font-size: 1rem;
    margin: 0 0 1.5rem;
}

.partidos-cabecera-texto-derecha {
    max-width: 80%;
    margin: 1rem auto;
}

.partidos-cabecera-dcha {
    width: 55%;
    display: inline-block;
}

#historico {
    max-width: 80%;
    margin: 0 auto;
}

.partidos-concejales {
    font-size: 1rem;
}

.partido-concejales-lista {
    font-size: 1rem;
    list-style-position: inside;
}

.partidos-grafico {
    width: 100%;
    padding: 5vw 10vw;
    font-size: 0;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
}

.partidos-grafico-texto {
    width: 100%;
    position: relative;
}

.partidos-grafico-titulo {
    font-size: 4rem;
    font-family: var(--fontBislai);
    font-weight: bold;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 3;
}

.partidos-grafico-ciudadanos {
    content: '';
    height: 15px;
    width: 50vw;
    background-color: var(--ciudadanos);
    display: inline-block;
    position: absolute;
    left: -10vw;
    top: 40px;
    z-index: 2;
}

.partidos-grafico-pp {
    .partidos-grafico-ciudadanos,
    .partidos-grafico-ciudadanos-after {
        background-color: var(--pp);
    }
}

.partidos-grafico-zec {
    .partidos-grafico-ciudadanos,
    .partidos-grafico-ciudadanos-after {
        background-color: var(--zec);
    }
}

.partidos-grafico-ciudadanos-after {
    width: 15vw;
    left: 39vw;
    z-index: 4;
}

.partidos-grafico-parrafo {
    font-size: 1rem;
    font-family: var(--fonttext);
    margin: 2rem auto;
    max-width: 60%;
}

.partidos-grafico-parrafo ~ .partidos-grafico-parrafo {
    margin: 0 auto;
}

.partidos-grafico-grafica {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 5vh;
}

.bgc-zec {
    .partidos-cabecera-title {
        font-size: 5rem;
        font-family: var(--fontBislai);
        color: #d0f3f2;
        margin: 0;
    }
    .partido-concejales-lista a {
        color: #dbf17e;
    }
}

.bgc-pp {
    .partido-concejales-lista a {
        color: #05062E;
    }
}
