.partidos-cabecera {
    min-height: 50vh;
    padding: 3rem;
    width: 100%;
    font-size: 0;
}

.partidos-cabecera-izda {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.partidos-cabecera-title {
    font-size: 5rem;
    font-family: var(--fontBislai);
    color: var(--black);
    margin: 0;
}

.partidos-cabecera-texto,
.partidos-cabecera-texto-derecha {
    font-size: 1rem;
    margin: 0 0 1.5rem;
}

.partidos-cabecera-texto-derecha {
    max-width: 80%;
    margin: 1rem auto;
}

.partidos-cabecera-dcha {
    width: 55%;
    display: inline-block;
}

#historico {
    max-width: 80%;
    margin: 0 auto;
}

.partidos-concejales {
    font-size: 1rem;
}

.partido-concejales-lista {
    font-size: 1rem;
    list-style-position: inside;
}

.partidos-grafico {
    width: 100%;
    padding: 5vw 10vw;
    font-size: 0;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.partidos-grafico-texto {
    width: 100%;
    position: relative;
}

.partidos-grafico-titulo {
    font-size: 2.5rem;
    font-family: var(--fontBislai);
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 2rem;
    background-color: var(--white);
    border-top: 5px solid var(--ciudadanos);
}

.partidos-grafico-pp {
    .partidos-grafico-titulo {
        border-color: var(--pp);
    }
}

.partidos-grafico-zec {
    .partidos-grafico-titulo {
        border-color: var(--zec);
    }
}

.partidos-grafico-psoe {
    .partidos-grafico-titulo {
        border-color: var(--psoe);
    }
}

.partidos-grafico-cha {
    .partidos-grafico-titulo {
        border-color: var(--chunta);
    }
}

.partidos-grafico-parrafo {
    font-size: 1rem;
    font-family: var(--serif);
    margin: 2rem 0;
    max-width: 60%;
}

.partidos-grafico-parrafo ~ .partidos-grafico-parrafo {
    margin: 0;
}

.partidos-grafico-grafica {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10vh;
}

.bgc-zec {
    .partidos-cabecera-title {
        font-size: 5rem;
        font-family: var(--fontBislai);
        color: #d0f3f2;
        margin: 0;
    }
    .partidos-cabecera-texto,
    .partidos-cabecera-texto-derecha,
    .partido-concejales-lista a {
        color: #fff;
    }
}

.bgc-pp {
    .partido-concejales-lista a {
        color: #05062E;
    }
}

.bgc-psoe {
    .partido-concejales-lista a {
        color: #f8f8f9;
    }
}

@media only screen and (max-width: 48em) {

    .partidos-cabecera-izda,
    .partidos-cabecera-dcha,
    #historico {
        width: 100%;
    }

    .partido-card-top {
        width: 90%;
        margin: 1rem auto;
    }

    .partidos-cabecera-dcha {
        margin-top: 1rem;
    }

    .partidos-cabecera {
        padding: 1rem;
    }

    .partidos-grafico {
        padding: 10px;
    }

    .partidos-grafico-titulo {
        padding: 1rem;
        font-size: 1.5rem;
        width: 100%;
    }

    .partidos-grafico-parrafo,
    .partidos-grafico-grafica {
        max-width: 100%;
    }

}
