.nav-plenos {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0;
    z-index: 100;
}

.nav-plenos-anterior,
.nav-plenos-posterior {
    width: 50%;
    display: inline-block;
    border-right: 1px solid var(--greyc);
    padding: 1rem;
    background-color: var(--bgcHeader);
    cursor: pointer;
    &:hover {
        transition: background-color .3s ease-in;
        background-color: #274890;
    }
}

.nav-plenos-posterior {
    text-align: right;
}

.nav-plenos-texto {
    display: inline-block;
    vertical-align: middle;
    font-family: var(--fontPlex);
    font-size: .88rem;
    color: var(--white);
}

.contenedor-plenos {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--grey);
}

.contenedor-plenos-btn {
    padding: 1rem;
}

.contenedor-plenos-btn-titulo {
    font-size: 1rem;
    font-family: var(--fontPlex);
    font-weight: bold;
    margin: 0;
}

.contenedor-plenos-btn-txt {
    color: var(--bunting);
    text-decoration: none;
}

.mocion-retirada {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
}

.titulo-plenos {
    border-left: 5px solid #e30613;
    padding-left: 1rem;
    margin: 0;
    font-size: 1rem;
    font-family: var(--fontSystem);
    &.zec {
        border-color: var(--zec);
    }
    &.pp {
        border-color: var(--pp);
    }
    &.psoe {
        border-color: var(--psoe);
    }
    &.cha {
        border-color: var(--chunta);
    }
    &.cs {
        border-color: var(--ciudadanos);
    }
}

.titulo-plenos-numero {
    font-size: 2rem;
    font-weight: 800;
    vertical-align: middle;
    display: inline-block;
}

.punto-plenos {
    font-weight: bold;
    display: block;
}

@media only screen and (min-width: 30em) {

    .contenedor-plenos-btn-titulo {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 48em) {

    .nav-plenos {
        bottom: 50vh;
    }

    .nav-plenos-texto {
        display: none;
    }

    .nav-plenos-anterior,
    .nav-plenos-posterior {
        border: 0;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
    }

    .nav-plenos-posterior {
        float: right;
    }

    .titulo-plenos-numero {
        font-size: 4rem;
    }

    .titulo-plenos {
        font-size: 2rem;
        border-width: 10px;
    }

}

@media only screen and (min-width: 64em) {

    .contenedor-plenos {
        padding: 2rem 0;
    }

    .contenedor-plenos-btn {
        padding: 0;
    }

}
