.texta-l {
  text-align: left;
}

.texta-r {
  text-align: right;
}

.texta-c {
  text-align: center;
}

@media only screen and (min-width: 30em) {

  .texta-l--s {
    text-align: left;
  }

  .texta-r--s {
    text-align: right;
  }

  .texta-c--s {
    text-align: center;
  }

}

@media only screen and (min-width: 48em) {

  .texta-l--m {
    text-align: left;
  }

  .texta-r--m {
    text-align: right;
  }

  .texta-c--m {
    text-align: center;
  }

}

@media only screen and (min-width: 64em) {


  .texta-l--l {
    text-align: left;
  }

  .texta-r--l {
    text-align: right;
  }

  .texta-c--l {
    text-align: center;
  }


}
