:root {
    --fontSystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    --black: #121;
    --cruise: #b9eee6;
    --cruise2: #def7f2;
    --heath: #430e16;
    --white: #fff;
    --impureWhite: #c4d1e8;
    --twitterColor: #00ACEE;
    --facebookColor: #3B5998;
    --base: #430e16;
    --black: #463c3e;
    --red9: #71585c;
    --green9: #5d7259;
}
