.maw-70 {
  max-width: 70rem;
  margin: 0 auto;
}

.maw-60 {
  max-width: 60rem;
  margin: 0 auto;
}

.w-1-5re {
  width: 1.5rem;
}

.w-0 {
  width: 0;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}


.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-h-20 {
  width: 20px;
}

.w-h-100px {
  width: 100px;
}
